<!DOCTYPE html>
<html lang="en">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Loaded image</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
    <div class="row">
      <div class="column">
        <img src="{{ image.original.url }}"  style="width:100%">
      </div>
      <div class="column">
        <img src="{{ mask_uri }}"style="width:100%">
      </div>
      <div class="column">
        <img src="{{ result_uri }}"style="width:100%">
      </div>
    </div>
</body>
</html>