.toolbar {
    background-color: #005599;
    color: white;
}

.header-center {
    text-align: center;
}

.upload-card {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

.upload-button {
    margin: 10px 0;
}

.upload-button {
    background-color: rgb(15, 138, 199);
}

.upload-button:hover {
    background-color: rgba(15, 138, 199, 0.623);
}

a {
    text-decoration: none;
    color: white;
}