# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\itsg-doamne-ajuta\Emotion Recognition\training_real_time\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
